<!DOCTYPE html>
<html>
    <head>
        <title>Check Please Application</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="check icon"></i>Check Please</div>
                <a href="/" class="item">John Doe</a>
                <a href="/information" class="item">Profile</a>
                <a href="/about" class="item">About</a>
            </div>
        </div>
        