<% include partials/header %>

<div id="container">
	<h3>Please choose an option:</h3>
</div>
<div id="container">
		<h4><a href="/information" class="item">View User Information</a></h4>
        <h4><a href="/month" class="item">Track Spending by Month</a></h4>
        <h4><a href="/largeCalc" class="item">Calculate Large Purchase</a></h4>
        <h4><a href="/savingsGoal" class="item">Calculate Savings</a></h4>
        <h4><a href="/actions" class="item">Select Bank to Explore</a></h4>
        <h4><a href="/forecast" class="item">Monthly Forecast</a></h4>
</div>

<% include partials/footer %>

