<% include partials/header %>

<div id="container">
    <form class="ui form" action="/" method="GET">
        <div class="field">
            Username<input type="text" name="search" value="" placeholder="username or email">
            <br>
            Password<input type="text" name="search" value="" placeholder="enter here">
        </div>
        <input class="ui green med button" value="Login" type="submit">
    </form>
    <br><br>
    <div>
        <h4><a href="/" class="item">Cancel</a></h4>
    </div>
</div>

<% include partials/footer %>

