<% include partials/header %>

<div>
	<h2>Montly Outlook</h2>
		<div class="desc">Please click on a note to edit.</div>
</div>

 <div class="centered">
 	<div class="columns" id="info">
		<div class="perNam">Month</div>
		<div class="expenses">Expenses</div>
		<div class="desc">Note</div>
	</div>
	<div class="clear"></div>
</div>
<div class="centered">
 	<% for(var i = 0; i < context.length; i++){ %>
 	<div class="columns-list" id="info">
		<div class="month"><%= context[i] ? context[i].month : ''%></div>
		<div class="expenses"><%= context[i] ? context[i].expenses : '' %></div>
		<div class="note">
			<a href="/editNote/<%= context[i] ? context[i].month : ''%>" method="get" action="/editNote">
				<%= context[i].note %>
			</a>
		</div>
		</div>

	</div>
	</div>
	<div class="clear"></div>
	<% }; %>
</div>

<% include partials/footer %>